<h3><%= 
    if @twitch_streams.empty? then 
        params[:id] 
    else 
        @twitch_streams[0][0]["game"] 
    end 
    %>
</h3>

<h2><%= link_to "TWITCH", "http://www.twitch.tv/" %></h2>
<% @twitch_streams.each do | games | %>
    <center>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% games.each_with_index do | stream, index | %>
        <li>
        <div class="twitch_stream" id= <%="#{stream["channel"]["name"]}"%>>
            <%= image_tag stream["preview"]["medium"] %>
            <noscript><%= link_to (image_tag stream["preview"]["medium"]), 
                                    twitch_path(id: stream["channel"]["display_name"]) %> </noscript>
        </div>                         
        <br/>
        <%= link_to stream["channel"]["status"], twitch_path(id: stream["channel"]["display_name"]) %> <br/>
        <%= "Viewers: #{stream["viewers"]} on " %> 
        <%= link_to stream["channel"]["display_name"], twitch_path(id: stream["channel"]["display_name"]) %> <br/> 
        </li>
    <% end %>
    </ul>
    </center>
<% end %>

<script>
var videos = document.getElementsByClassName("twitch_stream"); 
 
for (var i=0; i<videos.length; i++) {
  
  var twitch_stream = videos[i];
    
  twitch_stream.onclick = function() {
 
    var iframe = document.createElement("iframe");
    iframe.setAttribute("src", "http://www.twitch.tv/" + this.id + "/embed");
    iframe.setAttribute("width", "320");
    iframe.setAttribute("height", "180");
    iframe.setAttribute("frameborder", "0");
    iframe.setAttribute("scrolling", "no");
       
    this.parentNode.replaceChild(iframe, this);
 
  };
}
</script>

<h2><%= link_to "HITBOX", "http://www.hitbox.tv/" %></h2>
<% @hitbox_streams.each do | games | %>
    <center>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% games.each do | stream | %>
        <li>
        <div class="hitbox_stream" id= <%="#{stream[:streamer_name]}"%>>
        <%= image_tag stream[:channel_thumb] %>
        <noscript><%= link_to (image_tag stream[:channel_thumb]), hitbox_path(id: stream[:streamer_name]) %></noscript>
        </div>
        <br/>
        <%= link_to stream[:channel_name], hitbox_path(id: stream[:streamer_name]) %> <br/>
        <%= "Viewers: #{stream[:viewer_count]} on " %> 
        <%= link_to stream[:streamer_name], hitbox_path(id: stream[:streamer_name]) %><br/>
        </li>
    <% end %>
    </ul>
    </center>
<% end %>

<script>
var hb_videos = document.getElementsByClassName("hitbox_stream"); 
 
for (var i=0; i<hb_videos.length; i++) {
  
  var hitbox_stream = hb_videos[i];
    
  hitbox_stream.onclick = function() {
 
    var iframe = document.createElement("iframe");
    iframe.setAttribute("src", "http://hitbox.tv/#!/embed/" + this.id + "?autoplay=true");
    iframe.setAttribute("width", "320");
    iframe.setAttribute("height", "180");
    iframe.setAttribute("frameborder", "0");
       
    this.parentNode.replaceChild(iframe, this);
 
  };
}
</script>