<h1>STREAMS</h1>

<h2><%= link_to "TWITCH", "http://www.twitch.tv/" %></h2>
<% @twitch_streams.each do | games | %>    
    <%= games[0]["game"] %> <br/>
    <% games.each_with_index do | stream, index | %>
        <div class="twitch_stream" id= <%="#{stream["channel"]["name"]}"%>> 
        <%= link_to (image_tag stream["preview"]["medium"]), 
                                stream_path(stream["channel"]["display_name"]) %> <br/>
        </div>
        <%= link_to stream["channel"]["status"], stream["channel"]["url"] %> <br/>
        <%= "Viewers: #{stream["viewers"]} on " %> 
        <%= link_to stream["channel"]["display_name"], stream["channel"]["url"] %> <br/><br/>
    <% end %>
<br/>
<% end %>

<script>

var videos = document.getElementsByClassName("twitch_stream"); 
 
for (var i=0; i<videos.length; i++) {
  
  var twitch_stream = videos[i];
    
  twitch_stream.onclick = function() {
 
    var iframe = document.createElement("iframe");
    iframe.setAttribute("src", "http://www.twitch.tv/" + this.id + "/embed");
    iframe.setAttribute("width", "620");
    iframe.setAttribute("height", "378");
    iframe.setAttribute("frameborder", "0");
    iframe.setAttribute("scrolling", "no");
       
    this.parentNode.replaceChild(iframe, this);
 
  };
}
</script>

<h2><%= link_to "HITBOX", "http://www.hitbox.tv/" %></h2>
<% @hitbox_streams.each do | games | %>
    <%= games[0][:game] %><br/>
    <% games.each do | stream | %>
        <%= link_to (image_tag stream[:channel_thumb]), "http://www.hitbox.tv/#{stream[:streamer_name]}" %><br/>
        <%= link_to stream[:channel_name], "http://www.hitbox.tv/#{stream[:streamer_name]}" %> <br/>
        <%= "Viewers: #{stream[:viewer_count]} on " %> 
        <%= link_to stream[:streamer_name], "http://www.hitbox.tv/#{stream[:streamer_name]}" %><br/>
    <% end %>
<% end %>